<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>
    <settings>
        <!--将下划线映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--开启按需加载-->
        <setting name="aggressiveLazyLoading" value="true"/>

    </settings>
    <typeAliases>
        <!--type为实体类 默认类名称，不区分大小写        -->
        <package name="com.shuaihu.vip.pojo"/>
        <!--        <typeAlias type="org.shuaihu.vip.mybatis.pojo.User" alias="UserMapper"></typeAlias>-->
    </typeAliases>
    <!--    配置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.Driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.name}"/>
                <property name="password" value="${jdbc.passwd}"/>
            </dataSource>
        </environment>
    </environments>
    <!--    引入映射文件-->
    <mappers>
      <package name="com.shuaihu.vip.mapper"/>
        <!--        <mapper resource="com/example/mapper/SelectUsers.xml"></mapper>-->
    </mappers>
</configuration>