<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shuaihu.vip.mybatis.mapper.UserMapper">

    <insert id="insertUser">
        insert into t_user values (null,'lisi','root',20,'男','1583139786@qq.com')
    </insert>
    <update id="updateUser" >
        update t_user set username='王五',age=25,sex='男',email='13637271700@qq.com' where id = 5
    </update>
    <delete id="deleteUser">
        delete from t_user where id=8
    </delete>
    <select id="getUserById" resultType="org.shuaihu.vip.mybatis.pojo.User">
        select id,username,passwd,age,sex,email from t_user where id=5
    </select>
    <select id="findUserAll" resultType="org.shuaihu.vip.mybatis.pojo.User">
        select * from t_user
    </select>


</mapper>